// http://designshack.net/articles/css/introducing-the-less-css-grid/ + custom styles


@max-width: 1340px;
@min-width: 960px;
@numCols: 12;
@colWidth: 5.8%;

 .container {
  margin: 0 auto;
  max-width: @max-width;
  min-width: @min-width;
}

.wrap {
  padding: 4px 50px 40px 40px;
  margin: 20px 50px 25px;
}

@columns: 12;
@gutter: 2%;
@columnWidth: (100%-((@columns - 1)*@gutter))/@columns;

@allColumns: @columnWidth * @columns;
@allGutters: (@gutter * @columns - 1);
@totalWidth: @allColumns + @allGutters;

.theWidth (@theColumn: 1, @theGutter: 0) {
  width: (@columnWidth * @theColumn) + ((@gutter/2) * @theGutter);
}
.theMargin (@theColumn: 1, @theGutter: 0) {
  margin-left: (@columnWidth * @theColumn) + ((@gutter/2) * (@theGutter+3));
}

[class*="grid-"], [class*="offset-"] {
  overflow: hidden;
  float: left;
  display: inline;
}
[class*="grid-"] {
  margin: 0 0 0 @gutter;
}
[class*="grid-"]:first-child {
  margin-left:0;
}

.grid-1 { .theWidth(1,0); }
.grid-2 { .theWidth(2,2); }
.grid-3 { .theWidth(3,4); }
.grid-4 { .theWidth(4,6); }
.grid-5 { .theWidth(5,8); }
.grid-6 { .theWidth(6,10); }
.grid-7 { .theWidth(7,12); }
.grid-8 { .theWidth(8,14); }
.grid-9 { .theWidth(9,16); }
.grid-10 { .theWidth(10,18); }
.grid-11 { .theWidth(11,20); }
.grid-12 { .theWidth(12,22); }

.offset-1 { .theMargin(1,0); }
.offset-2 { .theMargin(2,2); }
.offset-3 { .theMargin(3,3); }
.offset-4 { .theMargin(4,6); }
.offset-5 { .theMargin(5,8); }
.offset-6 { .theMargin(6,10); }
.offset-7 { .theMargin(7,12); }
.offset-8 { .theMargin(8,14); }
.offset-9 { .theMargin(9,16); }
.offset-10 { .theMargin(10,18); }
.offset-11 { .theMargin(11,20); }
.offset-12 { .theMargin(12,22); }

.row {
  width: @totalWidth;
  margin: 0 auto;
  overflow: hidden;
}
.row .row {
  margin: 0;
  width: 100%;
  display: inline-block;
}

[class*="grid-"].pull-right {
  float: right;
}

img, object, embed {
  max-width: 100%;
}