
@import "reset.less";
@import "varaibles.less";
@import "mixins.less";
@import "grid.less";

//Layout start
body {
    background: url("../images/bg.jpg") @bodyBackground;
    font-family: @FontFamily;
    font-size: @FontSize;
    line-height: @LineHeight;
    color: @textColor;
}

a {

}

.btn {
    text-shadow: 1px 1px 1px @white;
    line-height: 38px;
    padding: 0 32px;
    display:inline-block;
    color: @black;
    border: 1px solid #f2f2f2;
    cursor:pointer;
    #gradient .vertical(#f6f6f6, #e8e7e4);
    .border-radius(3px);
    .box-shadow(0 0 3px 0 #999999);
    .transition(all .3s ease-in-out);
    
    &:hover{
        color: @linkColorHover;
        .box-shadow(0 0 4px 0 #666666);

    }
    &:active{
        color: @linkColorActive;
        .box-shadow(0 0 3px 0 #666666 inset);
    }
}

.wrap {
    background: @white;
    .border-radius(7px);
}

/* header */
.header {
    .logo {
        margin-left: 45px;
        margin-top: 20px;
        display:inline-block;
        img{
            width: 100%;
            max-width:none;
        }
    }
    .min_info_header{
        line-height: 15px;
        margin-top: 18px;
        color: @grayDark;
        span{
            color: @blueLight;
            font-weight: bold;
        }
    }

    .phones{
        .call_time{
            color: @grey;
            font-size: 8pt;
        }
        .phone{
            color: @blueLight;
            font-size: 26px;
            font-weight: bold;
            sup{
                font-weight: normal;
                font-size: 17px;
                vertical-align: text-top;
            }
        }
    }
    .grid-9 {
        overflow:visible;
    }

    .menu {
        @menuHeight: 39px;
        height: @menuHeight;
        width:100%;
        display:table;
        #gradient .vertical(#fcdb00, #f7ba00);
        .border-radius(10px);
        overflow:visible;
        position:relative; 
        z-index: 10;

        li {
            display: table-cell;
            border-left: 1px solid #d4a000;
            border-right: 1px solid #fcdb00;
            text-align: center;
            
            a {
                .text-overflow();
                line-height: @menuHeight;
                padding: 0 10px;
                display: block;
                text-shadow: 1px 1px 1px #fbd959;
                position:relative;
                z-index: 20;
                overflow:visible;
                .transition(all .3s ease-in-out);
                
                &:before {
                    opacity: 0;
                    background: url("../images/menu_hover-top.png") no-repeat scroll 0 0 transparent;
                    content: "";
                    height: 17px;
                    left: 50%;
                    margin-left: -46px;
                    position: absolute;
                    top: -14px;
                    width: 87px;
                    .transition(all .2s ease-in-out);
                }
                &:after{
                    opacity: 0;
                    background: url("../images/menu_hover-bottom.png") no-repeat scroll 0 0 transparent;
                    content: "";
                    height: 27px;
                    left: 50%;
                    margin-left: -46px;
                    position: absolute;
                    bottom: -27px;
                    width: 87px;
                    .transition(all .2s ease-in-out);
                }
                &:hover {
                    color: @red;
                    #gradient .vertical(#f9c600, #fbd400);
                    //border-right: 1px solid transparent;
                    &:before {
                        opacity: 1;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
                &.active {
                    color: @red;
                    #gradient .vertical(#f9c600, #fbd400);
                    position:relative;
                    &:hover{
                        cursor: default !important;
                        &:before {
                            opacity: 0;
                        }
                        &:after {
                            opacity: 0;
                        }
                    }
                    &:active{
                        color: @red;
                        #gradient .vertical(#f9c600, #fbd400);
                    }
                }
                
                &:active {
                    color: darken(@red, 15%);
                    #gradient .vertical(darken(#f9c600, 15%), darken(#fbd400, 15%));
                    //border-right: 1px solid transparent;
                }
            }
            
            &:first-child {
                    border-left: 1px solid transparent;
                    a{
                        padding-left: 20px;
                        -webkit-border-radius: 10px 0 0 10px;
                        -moz-border-radius: 10px 0 0 10px;
                        border-radius:  10px 0 0 10px;
                    }
            }
        }

        .search {
            padding: 0;
            border-right: 1px solid transparent;
            #gradient .vertical(#73d9ff, #00aeef);
            -webkit-border-radius: 0 10px 10px 0;
            -moz-border-radius: 0 10px 10px 0;
            border-radius: 0 10px 10px 0;

            form {
                width: 100%;
                position:relative;
                line-height: @menuHeight;

                div{
                    display: block;
                    width: 80%;
                    margin: 0px auto;
                    position:relative;
                }
                input[type=text] {
                    border: 1px solid #1292C2;
                    .border-radius(5px);
                    height: 18px;
                    min-width: 10px;
                    padding: 0 18% 0 4%;
                    display: inline-block;
                    position: relative;
                    width: 80%;
                }
                input[type=image] {
                    display:block; 
                    position:absolute; 
                    right: 3px;
                    top: 15px;
                }
            }
        }

        .search_min{
            width: 100%;
            form input[type=image] {
                width: 13px;
                height: 13px;
                margin-left: 50%;
                position: relative !important;
                top: 2px;
                right: 7px !important;
            }
        }
    }
}

/* carousel */
.carousel {
    @carouselHeight: 260px;
    overflow:hidden;
    padding: 10px 0;
    .row, [class*="grid-"] {
        overflow:visible;
    }
    
    .carousel-slides {
        position: relative;
        margin-top: 19px;
        height: @carouselHeight;
        //overflow-y: hidden;
        //background: @violet;

        &> .row {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            .border-radius(10px);
            background:@sky;
            
            &.slide1{
                background:@violet;
            }
            
            &.active {
                z-index: 100;
            }
            
            .text_slide {
                margin-left: 51px;
                margin-top: 30px;
                position:relative;
                width: 42%;
                
                h3 {
                    color: white;
                    font-size: 32px;
                    font-weight: bold;
                    line-height: 30px;
                }
                strong{
                    color: white;
                    font-size: 18px;
                    font-weight: bold;
                    margin: 14px 0 0 10px;
                    display: block;
                }
                span {
                    display: block;
                    color :white;
                    padding-left: 10px;
                }
            }
            .bus-img {
                position:absolute; 
                bottom: 10px;
                left: 28%;
            }
            .baloon {
                .border-radius(70px);
                position:absolute; 
                background:@yellow;
                top: -25px;
                left: 28%;
                width: 95px;
                height: 95px;
                padding: 24px 14px 4px;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                z-index: 30;
                
                &:after {
                    content: '';
                    position: absolute;
                    right: 14px;
                    bottom: 6px;
                    width: 21px;
                    height: 17px;
                    background: @yellow;
                }
            }
            .city {
                height: @carouselHeight;
                overflow: hidden;
                .border-radius(0 10px 10px 0);
                img{
                    max-width: none;
                    min-height: 100%;
                    min-width: 100%;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
    .carousel-nav {
        margin-top: 26px;
        
        .btn {
            padding: 2px 12px;
            margin: 2px 6px;
            line-height: 25px;
            position:relative;
            &.active{
                cursor: default;
                color: #E84849;
                .box-shadow(0 0 3px 0 #666666 inset);
            }
            &.active:hover{
                cursor: default;
                .box-shadow(0 0 3px 0 #666666 inset);
            }
            &.active:after {
                content: '';
                position: absolute;
                left: 50%;
                margin-left: -7px;
                top: -29px;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 15px 12.5px 0 12.5px;
                border-color: @sky transparent transparent transparent;
                
            }
            &[data-target="slide1"].active:after {
                border-color: @violet transparent transparent transparent;
            }
        }
    }
}

/* description */
.description{
    color: @grayDark;
    font-size: 13px;
    margin-bottom: 40px;
    a{
        .links();
    }
    li{
        margin-left: 20px;
    }
    .title_desc_left, .title_desc_right{
        height: 70px;
        margin: 10px 0;
        div{
            .border-radius(25px);
            width: 50px;
            height: 50px;
            float: left;
            background: no-repeat #FCDB00 center;
        }
        .ico1{background-image: url("../images/ico1.png");}
        .ico2{background-image: url("../images/ico2.png");}
        .ico3{background-image: url("../images/ico3.png");}
        .ico4{background-image: url("../images/ico4.png");}
        h2{
            padding: 0 0 0 15px;
            font-size: 20px;
            display: table-cell;
            height: 45px;
            vertical-align: middle;
        }
    }
    .title_desc_right h2{
        padding-top: 0;
    }
}
/* request */
.request {
    .yellow{
        background: @yellow;
        height: 40px;
        padding-top: 20px;
        padding-bottom: 18px;
        font-size: 18px;
    }

    .triangle{
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 14px 15px 0 15px;
        border-color: #fcda00 transparent transparent transparent;
        line-height: 0px;
        _border-color: #fcda00 #000000 #000000 #000000;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        margin: 78px auto 0;
    }

    .actual_tour{
        margin: 40px 0 15px;
        font-size: 13px;
        h2{
            font-size: 35px;
            margin-bottom: 35px;
        }
        p{
            line-height: 17px;
        }
    }
}

/* touts */
.touts{
    margin-top: 15px;
    .tour-item{
        display: block;

        .tour_preview{position: relative;}

        h3{text-decoration: underline;}

        img{
            width: 100%;
            height: auto;
        }
        .round{
            font-size: 19px;
            margin-bottom: 5px;
        }
        .round-desc{
            color: @greyLight;
            font-size: 12px;
            margin-bottom: 20px;
            line-height: 17px;
        }
        .round-price{
            font-size: 23px;
        }
        .preview_hover{
            width: 100%;
            height: 100%;
            background: url("../images/tour_photo_hover.png") no-repeat transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30); */
            margin-left: -37px;
            margin-top: -34px;
            .transition(all .5s ease-in-out);
        }
        &:hover{
            .round{
                color: #0054A6;
            }
            .preview_hover{
                opacity: 1 ;
                /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
                filter: alpha(opacity=80); */
            }
        }
    }
}

.btn_more{
    margin-top: 50px;
    position:relative;
    margin-bottom: 55px;
    margin-top: 60px;
    overflow:visible;
    z-index:10;
    
    .btn {
        cursor:pointer;
        position:static; 
        z-index:20;
        &:before {
            content: "";
            position: absolute;
            top: -27px;
            left: 50%;
            width: 205px;
            height: 78px;
            margin-left: -102px;
            background: url("../images/ajax_hover.png") no-repeat transparent;
            z-index:-1;
            opacity: 0;
            .transition(all .2s ease-in-out);
        }
        &:hover{
            &:before {
                opacity: 1;
            }
        }
    }
}

/* photos */
.photos {
    position:relative;
    .bg {
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 36px;
    }
    .grid-12 {
        position:relative; 
        z-index: 100;
    }
    h2{
        font-size: 24px;
        margin-bottom: 35px;
    }
    .images{
        img{
            margin: -7px -4px 0 0;
        }
    }
}

/* mail */
.mail{
    overflow: visible;
    background: @peach;
    .border-radius(10px);
    position:relative; 
    &:before {
        content: '';
        position: absolute;
        top: -39px;
        right: 20px;
        width: 80px;
        height: 40px;
        background: url("../images/logo-mini.png") -1px -1px no-repeat;
    }

    .tour_order{
        margin: 0;
    }

    .tour_border_top{
        background: url("../images/tour_border_top.png") repeat-x #FFFFFF;
        height: 16px;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .tour_border_bottom{
        background: url("../images/tour_border_top.png") repeat-x #FFFFFF;
        height: 16px;
        -webkit-border-bottom-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-bottomleft: 10px;
        -moz-border-radius-bottomright: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .tour_border_left, .tour_border_right{
        background: url("../images/tour_border_left.png") repeat-y #FFFFFF;
        width: 16px;
        height: 391px;
    }

    .tour_border_right{
        float: right;
    }

    .title_form_tour{
        border-right: 1px solid #D0CEC6;
        height: 360px;
        margin-top: 20px;
        span{
            width: 120px;
            height: 100px;
            -moz-transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            -ms-transform: rotate(180deg);
            writing-mode: tb-rl;
            font-size: 16px;
            color: #17ABE9;
            display: block;
            margin-top: 128px;
        }
    }

    .form_tour{
        margin-top: 50px;
        input[type=text], textarea{
            margin-bottom: 20px;
            border: 2px solid #CBC9C1;
            .border-radius(10px);
            font-family: @FontFamily;
            font-size: 13px;
        }
        input[type=text]{
            width: 280px;
            height: 25px;
            padding: 0 5px;
        }
        #name{
            width: 340px;
        }
        textarea{
            width: 576px;
            height: 90px;
            resize: none;
            padding: 2px 5px;
        }
        input[type=submit]{
            width: 167px;
            height: 40px;
            margin-bottom: 20px;
        }
        #contacts{
            margin: 0 auto;
            width: 648px;
            div{
                float: left;
                margin-right: 15px;
                margin-left: 15px;
            }
        }
    }

}

/* footer */
.footer {
    .text-center;
    padding-bottom: 35px;
    font-size: 12px;
}

.red{color: #d44842;}
.clear{clear: both;}

.lte8{
    .mail .title_form_tour span{
        font-size: 18px;
        height: 130px;
        margin-left: 10px;

        width: 50px;
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    }
    .circles{
        position: relative;
        img{
            position: absolute;
            top: 50px;
            left: 0;
        }
        div{
            visibility: hidden;
            display: none;
            opacity: 0;
        }
    }
    .preview_hover {
        background: none;
        &:hover {
            background: url("../images/tour_photo_hover.png") no-repeat transparent !important;
        }
    }
    .btn_more .btn {
        &:before {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        }
        &:hover{
            &:before {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            }
        }
    }
}

.ie9{
    .mail .title_form_tour span{
        width: 115px;
        height: 125px;
        padding-right: 115px;
    }
}

.ie7{
    .wrap {
        width: 940px;
        margin-left: auto;
        margin-right: auto;
        margin-right: auto;
    }

    .mail .form_tour #contacts div{
        margin-right: 0;
        margin-left: 10px;
    }

    .header .menu li {
        display: inline;
        a {
            display: inline;
        }
    }

    .grid_9 {
        margin-right: 1.9%;
    }

    .phones .phone{
        font-size: 22px;
    }
    .header .grid-9{
        width: 74%;
    }

}


.about{
    margin: 70px 0;
    .about_left{
        a{
            .links();
        }
        .about_title{
            font-size: 19px;
            color: @black;
        }

        p{
            font-size: 13px;
            color: @grayDark;
            margin-top: 10px;
        }

        h1, h3{
            margin: 30px 0 20px 0;
            font-weight: normal;
            color: @grayDark;
        }

        h1{font-size: 23px;}
        h2{
            font-size: 19px;
            font-weight: bold;
            color: #0072BC;
            margin-bottom: 20px;
        }
        h3{font-size: 19px;}

        .circles{
            width: 460px;
            height: 145px;
            padding: 50px 0 50px 30px;
            margin: 0;
            float: left;
            div{
                width: 74px;
                height: 77px;
                .border-radius(50px);
                float: left;
                margin-left: -10px;
                margin-top: 20px;
                padding: 24px 0 0 27px;
                opacity: 0.8;
                color: #FFFFFF;
                span{
                    font-size: 50px;
                    padding-left: 8px;
                }
            }
            .c1{
                background-color: #8DC63F;
                z-index: 2;
            }
            .big_circle{
                padding: 45px 0 0 28px;
                width: 117px;
                height: 100px;
                .border-radius(72px);
                background-color: #FDDB00;
                margin-top: 0;
                z-index: 1;
                span{
                    font-size: 80px;
                    padding-left: 0;
                }
            }
            .c2{
                background-color: #F26C4F;
                z-index: 4;
            }
            .c3{
                background-color: #F49AC1;
                z-index: 3;
            }
        }

        .text_circles{
            color: #898989;
            font-size: 13px;
            font-style: italic;
            display: table-cell;
            height: 149px;
            padding-top: 44px;
            vertical-align: middle;
        }

        .citata{
            color: #555555;
            font-size: 13px;
            margin: 40px 0;
            height: 177px;
            .text_citata{
                display: table-cell;
                height: 162px;
                padding-top: 15px;
                vertical-align: middle;
            }
        }

        .arenda_price{
            color: @grayDark;
            font-size: 13px;
            margin: 0 0 40px 20px;
            list-style: decimal inside none;
        }
        
        table {
            width: 80%;
            margin-top: 20px;
        }
        thead tr {
            color: #898989;
            line-height: 20px;
            font-size: 11px;
            &:hover {
                background: transparent;
                cursor:pointer;
            }
        }
        tr {
            border-bottom: 1px solid #b7b7b7;
            line-height: 40px;
            font-size: 13px;
            
            &:hover {
                background: #fcfaf0;
                cursor:pointer;
            }
            
            td {
                text-align:center;
                padding: 0 10px;
                &:first-child {text-align:left;}
            }
        }

        .galery{
            margin-bottom: 30px;
            img{
                border: none;
                height: 120px;
                width: 120px;
                margin-right: -4px;
                margin-bottom: -7px;
            }
        }

    }

    .about_right{
        a{
            .links();
        }
        color: @grayDark;
        font-size: 13px;
        .about_right_top{
            padding: 15px;
            background: url("../images/bg.jpg") @bodyBackground;
            .border-radius(5px);
            .box-shadow(1px 1px 3px 0 #7D7D7D);
            margin: 0 4px 20px 0;
            font-style: italic;
        }
        .about_right_bottom{
            padding: 0 15px 15px 15px;
        }
    }

    .circles_footer{
        background: url("../images/footer_circles.png") no-repeat transparent;
        width: 122px;
        height: 60px;
        margin: 50px auto 0 auto;
    }
}
