//@{path}: '../img';

// Colors
@white:                 #ffffff;
@grey:                  #707070;
@greyLight:         #7d7d7d;
@grayDark:          #252525;
@black:                 #000000;
@yellow:               #fcdb00;
@blueLight:          #007cc2;
@blue:                  #0054a6;
@blueDark:          #004685;
@red:                    #ed1c24;
@peach:               #fcfaf0;

//Carousel's colors
@violet:                 #c25bd1;
@sky:                    #00aeef;


// Scaffolding
@bodyBackground: #ebd5a6;
@textColor: @black;


// Links
@linkColor: @blue;
@linkColorHover: darken(@linkColor, 15%);
@linkColorActive: darken(@linkColorHover, 15%);


// Typography
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&subset=latin,cyrillic);

@OpenSans: 'Open Sans', sans-serif;

@FontSize: 14px;
@FontFamily: @OpenSans;
@LineHeight: 23px;

@headingsFontFamily: inherit; 
@headingsFontWeight: bold;
@headingsColor: inherit;


//Custom styles
.text-left {
  text-align:left;
}
.text-center {
  text-align:center;
}
.text-right {
  text-align:right;
}
.left {
  float:left;
}
.right {
  float:right !important;
}